[Desktop Entry]
Name=Rambox
Comment=Rambox
GenericName=Rambox Client for Linux
Exec=/opt/rambox/rambox %U
Icon=rambox
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=text/plain;
